<form [formGroup]="formulario" (ngSubmit)="Cambiar()">
    <ul>
        <li>
            <p>Region</p>
            <mat-form-field appearance="fill">
                <mat-label>Region</mat-label>
                <mat-select formControlName="region">
                  <mat-option value="1">Valparaiso</mat-option>
                  <mat-option value="2">Metropolitana</mat-option>
                  <mat-option value="3">Bio Bio</mat-option>
                  <mat-option value="4">Araucania</mat-option>
                </mat-select>
              </mat-form-field>
        </li>
        <li>
            <p>Estado del Clima</p>
            <mat-radio-group aria-label="Select an option" formControlName="estado">
                <mat-radio-button value="1">Soleado</mat-radio-button><br>
                <mat-radio-button value="2">Nublado</mat-radio-button><br>
                <mat-radio-button value="3">Lluvioso</mat-radio-button><br>
                <mat-radio-button value="4">Tormentoso</mat-radio-button><br>
            </mat-radio-group>
        </li>
        <li>
            <p>Dia</p>
            <mat-form-field appearance="fill">
                <mat-label>Dia</mat-label>
                <mat-select formControlName="dia">
                    <mat-option value="1">Lunes</mat-option>
                    <mat-option value="2">Martes</mat-option>
                    <mat-option value="3">Miercoles</mat-option>
                    <mat-option value="4">Jueves</mat-option>
                    <mat-option value="5">Viernes</mat-option>
                    <mat-option value="6">Sabado</mat-option>
                    <mat-option value="7">Domingo</mat-option>
                </mat-select>
              </mat-form-field>
        </li>
        <li>
            <p>Temperatura</p>
            <input formControlName="temperatura" type="text">
        </li>
        <li>
            <p>Grados</p>
            <mat-radio-group aria-label="Select an option" formControlName="grados">
                <mat-radio-button value="1">Celsius</mat-radio-button><br>
                <mat-radio-button value="2">Fahrenheit</mat-radio-button><br>
            </mat-radio-group>
        </li>
        <li>
            <button type="submit">Actualizar</button>
        </li>
        <p>PD: No llegue a implementar que haga cambios, asi que esto no hace nada en realidad</p>
    </ul>

</form>