<header>
    <div id="logoContainer">
        <img id="logo1" src="/assets/img/logo.png">
    </div>
    <div id="climaContainer">
        <h1 id="textoClima">Clima</h1>
    </div>
</header>
<nav>
    <ul>
        <li>
            <button mat-flat-button>Valparaiso</button>
        </li>
        <li>
            <button mat-flat-button>Metropolitana</button>
        </li>
        <li>
            <button mat-flat-button>Bio Bio</button>
        </li>
        <li>
            <button mat-flat-button>Araucania</button>
        </li>
    </ul>
</nav>